// Here you can add other styles

$sidebar-bg: #fff;
$body-bg: #fff;


@import "node_modules/bootstrap/scss/bootstrap";

// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.table th{

}
.table th, .table td {
  padding: 0.25rem;
  vertical-align: top;
  border-top: 1px solid #c8ced3;
}

.loginTitle{
  color:#434648;
}

.loginBtn{
  background-image: linear-gradient(360deg,#2f928e 1%,#ccbbbb 100%) !important;
  font-weight: bold;
  border:1px solid #fff;
}

.loginBtn:hover{
  background:#434648;
  font-weight: bold;
    border:2px solid #fff;
}

.loginbg{
  background-image: linear-gradient(10deg,#058e89 1%,#ccbbbb 100%) !important;

}
.sidebar, .app-header{

  background-image: linear-gradient(110deg,#058e89 1%,#ccbbbb 100%) !important;

}
.sidebar .nav-link.active {
  color: #fff;
  background: #5a6065;
}

.sidebar .nav-link:hover {
  color: #fff;
  background: #5a6065;
}
.app-header .nav-link{
  color:#fff !important;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
  margin-top: -10px;
  margin-left: -20px;
}

.allotment table th{
  border-top:0 !important;
  border-bottom:0 !important;
  background: #efefef;
  padding: 0;
  margin:0;
  font-size:0.8em;
}
